<div class="example-container mat-elevation-z8 table">
<mat-table #table [dataSource]="datasource">
  <ng-container matColumnDef="EmployeeId">
    <mat-header-cell *matHeaderCellDef>EmployeeId</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.EmployeeId}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LastName">
    <mat-header-cell *matHeaderCellDef>LastName</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.LastName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FirstName">
    <mat-header-cell *matHeaderCellDef>FirstName</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.FirstName}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Title}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="TitleOfCourtesy">
    <mat-header-cell *matHeaderCellDef>TitleOfCourtesy</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.TitleOfCourtesy}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Birthday">
    <mat-header-cell *matHeaderCellDef>Birthday</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Birthday}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="HireDate">
    <mat-header-cell *matHeaderCellDef>HireDate</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.HireDate}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Address}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="City">
    <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.City}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Region">
    <mat-header-cell *matHeaderCellDef>Region</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Region}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PostalCode">
    <mat-header-cell *matHeaderCellDef>PostalCode</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.PostalCode}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Country">
    <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Country}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="HomePhone">
    <mat-header-cell *matHeaderCellDef>HomePhone</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.HomePhone}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Extension">
    <mat-header-cell *matHeaderCellDef>Extension</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Extension}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Photo">
    <mat-header-cell *matHeaderCellDef>Photo</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Photo}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Notes">
    <mat-header-cell *matHeaderCellDef>Notes</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.Notes}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ReportsTo">
    <mat-header-cell *matHeaderCellDef>ReportsTo</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.ReportsTo}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PhotoPath">
    <mat-header-cell *matHeaderCellDef>PhotoPath</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.PhotoPath}}</mat-cell>
  </ng-container>

  <mat-header-row class="mat-header-row" *matHeaderRowDef="tableHeader"></mat-header-row>
  <mat-row class="mat-row" *matRowDef="let myRowData; columns: tableHeader"></mat-row>


</mat-table>
  <mat-paginator #paginator
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
