<form #f="ngForm" (ngSubmit)="addEmployee(f)">
  <div class="form-group">
    <label for="{{tableHeader[1]}}">{{tableHeader[1]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[1]}}"
      #firstName="ngModel"
      id="{{tableHeader[1]}}"
      type="number"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[2]}}">{{tableHeader[2]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[2]}}"
      #firstName="ngModel"
      id="{{tableHeader[2]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[3]}}">{{tableHeader[3]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[3]}}"
      #firstName="ngModel"
      id="{{tableHeader[3]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[4]}}">{{tableHeader[4]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[4]}}"
      #firstName="ngModel"
      id="{{tableHeader[4]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[5]}}">{{tableHeader[5]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[5]}}"
      #firstName="ngModel"
      id="{{tableHeader[5]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[6]}}">{{tableHeader[6]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[6]}}"
      #firstName="ngModel"
      id="{{tableHeader[6]}}"
      type="date"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[7]}}">{{tableHeader[7]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[7]}}"
      #firstName="ngModel"
      id="{{tableHeader[7]}}"
      type="date"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[8]}}">{{tableHeader[8]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[8]}}"
      #firstName="ngModel"
      id="{{tableHeader[8]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[9]}}">{{tableHeader[9]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[9]}}"
      #firstName="ngModel"
      id="{{tableHeader[9]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[10]}}">{{tableHeader[10]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[10]}}"
      #firstName="ngModel"
      id="{{tableHeader[10]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[11]}}">{{tableHeader[11]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[11]}}"
      #firstName="ngModel"
      id="{{tableHeader[11]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[12]}}">{{tableHeader[12]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[12]}}"
      #firstName="ngModel"
      id="{{tableHeader[12]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[13]}}">{{tableHeader[13]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[13]}}"
      #firstName="ngModel"
      id="{{tableHeader[13]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[14]}}">{{tableHeader[14]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[14]}}"
      #firstName="ngModel"
      id="{{tableHeader[14]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[15]}}">{{tableHeader[15]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[15]}}"
      #firstName="ngModel"
      id="{{tableHeader[15]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[16]}}">{{tableHeader[16]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[16]}}"
      #firstName="ngModel"
      id="{{tableHeader[16]}}"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[17]}}">{{tableHeader[17]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[17]}}"
      #firstName="ngModel"
      id="{{tableHeader[17]}}"
      type="number"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="{{tableHeader[18]}}">{{tableHeader[18]}}</label>
    <input
      required
      ngModel
      name="{{tableHeader[18]}}"
      #firstName="ngModel"
      id="{{tableHeader[18]}}"
      type="text"
      class="form-control">
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
