<h1>INSY-API</h1>
<br>
<label for="url">URL</label>
<input id="url" class="form-control" ngModel #apiUrl="ngModel" type="url" name="url" (keyup.enter)="changeUrl(apiUrl.value)" [disabled]="urlSubmitted" required>
<br>
<br>
<br>
<div *ngIf="urlSubmitted">
<employee-form (employeeAdded)="addEmployee($event)"></employee-form>
<br>
<br>
<br>
<div>
  <label for="numberOfRows">Anzahl der Datensätze</label>
  <input class="form-control" min="1" ngModel #numberOfRows="ngModel" type="number" id="numberOfRows" (keyup.enter)="getEmployees(numberOfRows.value)" required>
  <employee-table [employees]="employees" *ngIf="numberOfRowsSubmitted" (onDelete)="deleteEmployee($event.value)"></employee-table>
</div>
</div>
